.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br2 {
    border-radius: .25rem;
}

.br--top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.db {
    display: block;
}

.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.lh-copy {
    line-height: 1.5;
}

.mw5 {
    max-width: 16rem;
}

.w-100 {
width: 30vw;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.pa2 {
    padding: .5rem;
}

.mt1 {
    margin-top: .25rem;
}

.mt2 {
    margin-top: .5rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tr {
    text-align: right;
}

.f5 {
    font-size: 1vw;
}

.f6 {
    font-size: .875vw;
}

.measure {
    max-width: 30em;
}

@media screen and (min-width: 30em) {
    .pb3-ns {
        padding-bottom: 1rem;
    }

    .ph3-ns {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .f4-ns {
        font-size: 1.25rem;
    }
}

/*@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-50-m {
        width: 50%;
    }
}*/

@media screen and (min-width: 1065px) {
    .w-100 {
    width: 100%;
}
}
article{
    width: 30vw;
}
.mySlides {display: none;}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.imaging{/*
    border-width: 1em; 
    border-style: solid; 
    border-color: transparent;*/
}
.imaging:hover + .centered {
/*border-color:rgb(19 117 165); 
border-style: solid;
border-width: 1em;
opacity: 25%;
transition-duration: 2s;*/
display: block;
}

.imag{
    border-width: 1em; 
    border-style: solid; 
    border-color: transparent;
}

.imag:hover{
border-color:rgb(19 117 165); 
border-style: solid;
border-width: 1em;
opacity: 25%;
transition-duration: 2s;
}

.centered {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: none;
}

.click{
    animation: disco 2s infinite;
}

@keyframes disco{
    0%{color: red;}
    25%{color: blue;}
    50%{color: green;}
    75%{color: orange;}
    100%{color: red;}
}